## File Managed by Ansible ##
# interfaces(5) file used by ifup(8) and ifdown(8)
# Include files from /etc/network/interfaces.d:

auto eth0
allow-hotplug eth0
iface eth0 inet dhcp

{% if loopback is defined %}
auto lo
iface lo inet loopback
    address {{ loopback }}
{% endif %}

{% if interfaces is defined %}
{% for port, value in interfaces.items() %}
auto {{ port }}
iface {{ port }} inet static
{% if 'alias' in value %}
    alias {{ value.alias }}
{% endif %}
{% if value and 'link_speed' in value %}
    pre-up sudo /usr/bin/opx-ethtool -s {{ port }} speed {{ value.link_speed }}
{% endif %}
    pre-up sudo /usr/bin/opx-ethtool -s {{ port }} autoneg off
{% if value and 'address' in value %}
    address {{ value.address }}
{% endif %}

{% endfor %}
{% endif %}


